Load Libraries

In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from geopy.extra.rate_limiter import RateLimiter

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium --yes
import folium # map rendering library

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\VYudin\Anaconda3

  added / updated specs:
    - folium


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.10.1              |             py_0          59 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         112 KB

The following NEW packages will be INSTALLED:

  branca             conda-forge/noarch::branca-0.3.1-py_0
  folium             conda-forge/noarch::folium-0.10.1-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages

branca-0.3.1         | 25 KB     |            |   0%
branca-0.3.1         | 25 KB     | ######3    |  63%
branca-0.3.1         | 25 KB     | ########## | 100%

folium-0.10.1        | 59 KB     |            |   0%
folium-0.10.1        | 59 KB     | ##7        |  27%
folium-0.10.1        | 59 KB     | ########## | 100%

vincent-0.4.4        | 28 KB     |            |   0%
vincent-0.4.4        | 28 KB     | #####7     |  58%
vincent-0.4.4        | 28 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Load information about national capitals from Wiki:

In [4]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_national_capitals_by_population',header=0)[1]

And see first 5:

In [5]:
df.head()

,Rank,Country/Territory,Capital,Population,Year,% ofcountry'spopulation
0,1,China PR,Beijing,"21,542,000[1]",2010,1.5%
1,2,Japan,Tokyo,"13,929,286[2]",2017,11.03%
2,3,Russia,Moscow,"12,506,468[3]",2011,8.52%
3,4,DR Congo,Kinshasa,"11,855,000[4]",2012,12.9%
4,5,Indonesia,Jakarta,"10,075,310[5]",2011,3.76%

In some rows we can see two cities or city name + something. We can't take coordinates with wrong name city, so will check and correct it. In 155 row we have two "Populations", so correct it too:

In [7]:
chg=[(57,"Guayaquil"),(81,"Guatemala"),(89,"Naypyidaw"),(100,"Jerusalem"),
     (154,"El Aaiún"),(163,"Berne"),(171,"Nicosia"),(200,"Ramallah"),(231,"Yaren"),(235,"Vatican City"),(239,"Brades")]

In [8]:
for i in range(len(chg)):
    df.loc[chg[i][0],"Capital"]=chg[i][1]
df.loc[154,"Population"]="194668"

In [9]:
df.head()

,Rank,Country/Territory,Capital,Population,Year,% ofcountry'spopulation
0,1,China PR,Beijing,"21,542,000[1]",2010,1.5%
1,2,Japan,Tokyo,"13,929,286[2]",2017,11.03%
2,3,Russia,Moscow,"12,506,468[3]",2011,8.52%
3,4,DR Congo,Kinshasa,"11,855,000[4]",2012,12.9%
4,5,Indonesia,Jakarta,"10,075,310[5]",2011,3.76%

Creating two DataFrame with capital's coordinates and if we take Error in taking coordinate:

In [10]:
coord=pd.DataFrame(columns=["Capital","Latitude","Longitude"])
err=pd.DataFrame(columns=["Number","Name"])

And take coordinate from Nomutatim. When we take coordinate, we print result for viewing progress:

In [11]:
for i in df.index:
    geolocator = Nominatim(user_agent="tr_explorer")
    address =df.loc[i,"Capital"]    
    try:
        location = geolocator.geocode(address,timeout=1)
        latitude = location.latitude
        longitude = location.longitude        
    except:
        coord=coord.append({"Capital":address,"Latitude":np.nan,"Longitude":np.nan},ignore_index=True)
        err=err.append({"Number":i,"Name":address},ignore_index=True)
        print('The geograpical coordinate of {} denied'.format(address))
    else:
        coord=coord.append({"Capital":address,"Latitude":latitude,"Longitude":longitude},ignore_index=True)
        print('The geograpical coordinate of {} are {}, {}.'.format(address,latitude, longitude))

The geograpical coordinate of Beijing are 39.906217, 116.3912757.
The geograpical coordinate of Tokyo are 35.6828387, 139.7594549.
The geograpical coordinate of Moscow are 55.4792046, 37.3273304.
The geograpical coordinate of Kinshasa are -4.3217055, 15.3125974.
The geograpical coordinate of Jakarta are -6.1753942, 106.827183.
The geograpical coordinate of Seoul are 37.564982549999996, 126.93921080358436.
The geograpical coordinate of Cairo are 30.048819, 31.243666.
The geograpical coordinate of Mexico City are 19.4326296, -99.1331785.
The geograpical coordinate of Dhaka are 23.7593572, 90.3788136.
The geograpical coordinate of London are 51.5073219, -0.1276474.
The geograpical coordinate of Lima are -12.0621065, -77.0365256.
The geograpical coordinate of Tehran are 35.7006177, 51.4013785.
The geograpical coordinate of Bangkok are 13.7542529, 100.493087.
The geograpical coordinate of Hanoi are 21.0294498, 105.8544441.
The geograpical coordinate of Riyadh are 24.6319692, 46.7150648.
The geograpical coordinate of Hong Kong are 22.2793278, 114.1628131.
The geograpical coordinate of Bogotá are 4.59808, -74.0760439.
The geograpical coordinate of Baghdad are 33.3024309, 44.3787992.
The geograpical coordinate of Santiago are 9.8694792, -83.7980749.
The geograpical coordinate of Singapore are 1.357107, 103.8194992.
The geograpical coordinate of Ankara are 39.7160439, 32.7059948.
The geograpical coordinate of Berlin are 52.5170365, 13.3888599.
The geograpical coordinate of Damascus are 33.5130695, 36.3095814.
The geograpical coordinate of Algiers are 36.7753606, 3.0601882.
The geograpical coordinate of Madrid are 40.4167047, -3.7035825.
The geograpical coordinate of Pyongyang are 39.0194741, 125.753388.
The geograpical coordinate of Kabul are 34.5260131, 69.1776476.
The geograpical coordinate of Nairobi are -1.2832533, 36.8172449.
The geograpical coordinate of Addis Ababa are 9.0107934, 38.7612525.
The geograpical coordinate of Buenos Aires are -34.6075682, -58.4370894.
The geograpical coordinate of Rome are 41.8933203, 12.4829321.
The geograpical coordinate of Kiev are 50.4500336, 30.5241361.
The geograpical coordinate of Yaoundé are 3.8689867, 11.5213344.
The geograpical coordinate of Taipei are 25.0375198, 121.5636796.
The geograpical coordinate of Brasília are -10.3333333, -53.2.
The geograpical coordinate of Amman are 31.9515694, 35.9239625.
The geograpical coordinate of Luanda are -8.8272699, 13.2439512.
The geograpical coordinate of Pretoria are -25.7459374, 28.1879444.
The geograpical coordinate of Paris are 48.8566969, 2.3514616.
The geograpical coordinate of Tashkent are 41.3123363, 69.2787079.
The geograpical coordinate of Baku are 40.3754434, 49.8326748.
The geograpical coordinate of Havana are 23.135305, -82.3589631.
The geograpical coordinate of Phnom Penh are 11.568271, 104.9224426.
The geograpical coordinate of Bucharest are 44.4361414, 26.1027202.
The geograpical coordinate of Caracas are 10.506098, -66.9146017.
The geograpical coordinate of Brazzaville are -4.2694407, 15.2712256.
The geograpical coordinate of Rabat are 34.022405, -6.834543.
The geograpical coordinate of Manila are 14.5906216, 120.9799696.
The geograpical coordinate of Vienna are 48.2083537, 16.3725042.
The geograpical coordinate of Khartoum are 15.593325, 32.53565.
The geograpical coordinate of Budapest are 47.48138955, 19.14607278448202.
The geograpical coordinate of Warsaw are 52.2337172, 21.07141112883227.
The geograpical coordinate of Minsk are 53.902334, 27.5618791.
The geograpical coordinate of Kampala are 0.3177137, 32.5813539.
The geograpical coordinate of Accra are 5.5600141, -0.2057437.
The geograpical coordinate of Antananarivo are -18.9100122, 47.5255809.
The geograpical coordinate of Beirut are 33.8959203, 35.47843.
The geograpical coordinate of Guayaquil are -2.1899066, -79.887726.
The geograpical coordinate of Harare are -17.831773, 31.045686.
The geograpical coordinate of Doha are 25.2856329, 51.5264162.
The geograpical coordinate of Sana'a are 15.3538569, 44.2058841.
The geograpical coordinate of Conakry are 9.5170602, -13.6998434.
The geograpical coordinate of Kuala Lumpur are 3.1516964, 101.6942371.
The geograpical coordinate of Montevideo are -34.9059039, -56.1913569.
The geograpical coordinate of Lusaka are -15.4164488, 28.2821535.
The geograpical coordinate of Bamako are 12.60503275, -7.986513673439357.
The geograpical coordinate of Sofia denied
The geograpical coordinate of Prague are 50.0874654, 14.4212535.
The geograpical coordinate of Port-au-Prince are 18.547327, -72.3395928.
The geograpical coordinate of Tripoli are 32.896672, 13.1777923.
The geograpical coordinate of Dublin are 53.3497645, -6.2602732.
The geograpical coordinate of Kuwait City are 29.3797091, 47.9735629.
The geograpical coordinate of Belgrade are 44.8178131, 20.4568974.
The geograpical coordinate of Santo Domingo are 18.4801972, -69.942111.
The geograpical coordinate of Mogadishu are 2.042778, 45.338564.
The geograpical coordinate of Yerevan denied
The geograpical coordinate of Maputo are -25.966213, 32.56745.
The geograpical coordinate of Freetown are 8.479004, -13.26795.
The geograpical coordinate of Tbilisi are 41.6934591, 44.8014495.
The geograpical coordinate of Dakar are 14.693425, -17.447938.
The geograpical coordinate of Nur-Sultan (Astana) are 51.1282205, 71.4306682.
The geograpical coordinate of Guatemala are 15.6356088, -89.8988087.
The geograpical coordinate of Monrovia are 6.328034, -10.797788.
The geograpical coordinate of Ouagadougou are 12.368148, -1.527085.
The geograpical coordinate of Kathmandu are 27.708796, 85.320244.
The geograpical coordinate of Stockholm denied
The geograpical coordinate of Islamabad are 22.3307998, 91.8412863.
The geograpical coordinate of Ottawa are 45.421106, -75.690308.
The geograpical coordinate of Managua are 12.1461244, -86.273717.
The geograpical coordinate of Naypyidaw are 19.7540045, 96.1344976.
The geograpical coordinate of Ulaanbaatar are 47.9184676, 106.9177016.
The geograpical coordinate of Lilongwe are -13.9875107, 33.768144.
The geograpical coordinate of Amsterdam are 52.3727598, 4.8936041.
The geograpical coordinate of Bishkek denied
The geograpical coordinate of Lomé are 6.130419, 1.215829.
The geograpical coordinate of Panama City are 8.9714493, -79.5341802.
The geograpical coordinate of Zagreb are 45.813177, 15.977048.
The geograpical coordinate of Muscat are 23.5997857, 58.5451305.
The geograpical coordinate of Niamey are 13.524834, 2.109823.
The geograpical coordinate of Chişinău are 47.0244707, 28.8322534.
The geograpical coordinate of Jerusalem are 31.778345, 35.2250786.
The geograpical coordinate of Abuja are 9.0643305, 7.4892974.
The geograpical coordinate of Tunis are 33.8439408, 9.400138.
The geograpical coordinate of Tirana denied
The geograpical coordinate of Ashgabat are 37.93783215, 58.235946718194526.
The geograpical coordinate of N'Djamena are 12.1191543, 15.0502758.
The geograpical coordinate of Tegucigalpa are 14.0773859, -87.195419.
The geograpical coordinate of Bangui are 4.3907153, 18.5509126.
The geograpical coordinate of Nouakchott are 18.0792379, -15.9780071.
The geograpical coordinate of Kigali are -1.8859597, 30.1296751.
The geograpical coordinate of Riga are 56.9493977, 24.1051846.
The geograpical coordinate of Kingston are 17.9712148, -76.7928128.
The geograpical coordinate of Asmara denied
The geograpical coordinate of Athens are 37.9841493, 23.7279843.
The geograpical coordinate of Washington, D.C. are 38.8948932, -77.0365529.
The geograpical coordinate of Oslo are 59.9133301, 10.7389701.
The geograpical coordinate of Helsinki are 60.1674098, 24.9425769.
The geograpical coordinate of Abu Dhabi are 24.39647445, 54.536663086435915.
The geograpical coordinate of Dushanbe are 38.5425835, 68.81521423589763.
The geograpical coordinate of Lisbon are 38.7077507, -9.1365919.
The geograpical coordinate of Copenhagen are 55.6867243, 12.5700724.
The geograpical coordinate of Vilnius are 54.6870458, 25.2829111.
The geograpical coordinate of Libreville are 0.390002, 9.454001.
The geograpical coordinate of San Salvador denied
The geograpical coordinate of Skopje are 41.9960924, 21.4316495.
The geograpical coordinate of Asunción are -25.2800459, -57.6343814.

The geograpical coordinate of Macau are 22.1757605, 113.5514142.
The geograpical coordinate of Edinburgh are 55.9533456, -3.1883749.
The geograpical coordinate of Djibouti (city) are 11.8145966, 42.8453061.
The geograpical coordinate of Yamoussoukro are 6.809107, -5.273263.
The geograpical coordinate of Bissau are 11.861324, -15.583055.
The geograpical coordinate of Tallinn are 59.4372155, 24.7453688.
The geograpical coordinate of Bratislava are 48.1516988, 17.1093063.
The geograpical coordinate of San Juan denied
The geograpical coordinate of Canberra are -35.2975906, 149.1012676.
The geograpical coordinate of Wellington are -41.2887953, 174.7772114.
The geograpical coordinate of Sarajevo are 43.8519774, 18.3866868.
The geograpical coordinate of Juba are 4.8472017, 31.5951655.
The geograpical coordinate of Cardiff are 51.4816546, -3.1791934.
The geograpical coordinate of Belfast are 54.5964411, -5.9302761.
The geograpical coordinate of San José are 37.3361905, -121.8905833.
The geograpical coordinate of Port Moresby are -9.4743301, 147.1599504.
The geograpical coordinate of Vientiane denied
The geograpical coordinate of Dodoma are -6.3372817, 35.73717712327763.
The geograpical coordinate of Ljubljana are 46.0499803, 14.5068602.
The geograpical coordinate of Nicosia (south) are 35.1739302, 33.364726.
The geograpical coordinate of Maseru are -29.310054, 27.478222.
The geograpical coordinate of Sucre are -19.0477251, -65.2594306.
The geograpical coordinate of Paramaribo are 5.8216091, -55.1770432.
The geograpical coordinate of Windhoek are -22.5743922, 17.0790688.
The geograpical coordinate of Nassau are 25.0783456, -77.3383331.
The geograpical coordinate of Gaborone denied
The geograpical coordinate of Porto-Novo are 6.4990718, 2.6253361.
The geograpical coordinate of Prishtina are 42.6638771, 21.1640849.
The geograpical coordinate of El Aaiún are 27.154512, -13.1953921.
The geograpical coordinate of Tiraspol are 46.8379988, 29.6109543.
The geograpical coordinate of Brussels are 50.8436709, 4.3674366933879565.
The geograpical coordinate of Port Louis are -20.1637281, 57.5045331.
The geograpical coordinate of New Delhi are 28.6141793, 77.2022662.
The geograpical coordinate of Podgorica are 42.4415238, 19.2621081.
The geograpical coordinate of Manama denied
The geograpical coordinate of Georgetown are 6.8025766, -58.1628612.
The geograpical coordinate of Praia are 14.9160169, -23.5096132.
The geograpical coordinate of Berne are 46.9482713, 7.4514512.
The geograpical coordinate of Sri Jayawardenepura Kotte are 6.8883219, 79.9187415.
The geograpical coordinate of Reykjavík are 64.145981, -21.9422367.
The geograpical coordinate of Bridgetown are 13.0977832, -59.6184184.
The geograpical coordinate of Malé are 16.3700359, -2.2900239.
The geograpical coordinate of Thimphu are 27.4727617, 89.629548.
The geograpical coordinate of Malabo are 3.752828, 8.780061.
The geograpical coordinate of Nouméa are -22.2745264, 166.442419.
The geograpical coordinate of Nicosia are 35.1739302, 33.364726.
The geograpical coordinate of Suva are -18.1415884, 178.4421662.
The geograpical coordinate of Mbabane are -26.325745, 31.144663.
The geograpical coordinate of Luxembourg are 49.8158683, 6.1296751.
The geograpical coordinate of Castries are 13.952589249999999, -60.98782353129866.
The geograpical coordinate of Saipan are 15.1909828, 145.74685349790155.
The geograpical coordinate of Moroni are -11.6931255, 43.2543044.
The geograpical coordinate of Honiara are -9.4310769, 159.9552552.
The geograpical coordinate of Dili are 28.6517178, 77.2219388.
The geograpical coordinate of São Tomé are 0.3389242, 6.7313031.
The geograpical coordinate of Pago Pago are -14.2754786, -170.7048298.
The geograpical coordinate of Port of Spain are 10.6572678, -61.5180173.
The geograpical coordinate of Stepanakert are 39.8249451, 46.7522589.
The geograpical coordinate of Willemstad are 12.1091242, -68.9316546.
The geograpical coordinate of Gitega are -3.4284953, 29.9249718.
The geograpical coordinate of Kingstown are 13.1561864, -61.2279621.
The geograpical coordinate of Apia are -13.8343691, -171.7692793.
The geograpical coordinate of Port Vila are -17.7414972, 168.3150163.
The geograpical coordinate of Monaco are 43.7323492, 7.4276832.
The geograpical coordinate of Banjul are 13.441346450000001, -16.562471332101783.
The geograpical coordinate of Tarawa are 11.5884149, 3.9707743.
The geograpical coordinate of Oranjestad are 12.5268736, -70.0356845.
The geograpical coordinate of Victoria are -36.5986096, 144.6780052.
The geograpical coordinate of Gibraltar are 36.10674695, -5.335277183483561.
The geograpical coordinate of Saint Helier are 47.3843871, 4.6833254.
The geograpical coordinate of Bandar Seri Begawan are 4.8895453, 114.9417574.
The geograpical coordinate of George Town are 5.4145681, 100.3298035.
The geograpical coordinate of Douglas are 39.7628415, -88.2170516.
The geograpical coordinate of Papeete are -17.5373835, -149.5659964.
The geograpical coordinate of Ramallah are 31.9030821, 35.1951741.
The geograpical coordinate of Majuro are 7.0909924, 171.3816354.
The geograpical coordinate of Andorra la Vella are 42.5069391, 1.5212467.
The geograpical coordinate of St. John's are 47.561701, -52.715149.
The geograpical coordinate of Nukuʻalofa are -21.1343401, -175.2018085.
The geograpical coordinate of Tórshavn are 62.012, -6.768.
The geograpical coordinate of St. Peter Port are 49.4568142, -2.5389979.
The geograpical coordinate of Belmopan are 17.250199, -88.770018.
The geograpical coordinate of Nuuk (Godthåb) are 64.175029, -51.7355386.
The geograpical coordinate of Roseau are 48.7710371, -95.7697882.
The geograpical coordinate of Basseterre are 17.2960919, -62.722301.
The geograpical coordinate of Mariehamn are 60.102423, 19.94126.
The geograpical coordinate of Charlotte Amalie are 18.341137, -64.932789.
The geograpical coordinate of Palikir are 6.920744, 158.1627143.
The geograpical coordinate of Road Town are 18.4257128, -64.6232227.
The geograpical coordinate of St. George's are 48.6581382, 6.9280988.
The geograpical coordinate of Valletta are 35.8989818, 14.5136759.
The geograpical coordinate of Gustavia denied
The geograpical coordinate of Marigot are 18.0668544, -63.0848869.
The geograpical coordinate of Saint-Pierre are 48.3832725, 7.4718731.
The geograpical coordinate of Avarua are -21.2074736, -159.7708145.
The geograpical coordinate of Vaduz are 47.1392862, 9.5227962.
The geograpical coordinate of City of San Marino are 43.9363996, 12.4466991.
The geograpical coordinate of Funafuti are -8.534994650000002, 179.11864963425245.
The geograpical coordinate of Cockburn Town are 21.4607723, -71.1399956.
The geograpical coordinate of Stanley are -51.6950575, -57.8491693.
The geograpical coordinate of Longyearbyen denied
The geograpical coordinate of Flying Fish Cove are -10.4266648, 105.6686719.
The geograpical coordinate of Philipsburg are 18.0250713, -63.0483073.
The geograpical coordinate of Mata-Utu are -13.2820419, -176.1740224.
The geograpical coordinate of The Valley are 41.5595723, -98.9805484.
The geograpical coordinate of Yaren are -0.5471014, 166.9164002.
The geograpical coordinate of Hagåtña are 13.4727446, 144.75201822544284.
The geograpical coordinate of Hamilton are 43.255205, -79.868202.
The geograpical coordinate of Kingston are 17.9712148, -76.7928128.
The geograpical coordinate of Vatican City are 41.90381485, 12.453152716779822.
The geograpical coordinate of Jamestown are 37.2104434, -76.7738928.
The geograpical coordinate of Alofi are -19.0534159, -169.9191992.
The geograpical coordinate of Atafu are -8.5533484, -172.4905526.
The geograpical coordinate of Brades denied
The geograpical coordinate of Ngerulmud are 7.5006193, 134.6243012.
The geograpical coordinate of West Island are -12.1898479, 96.8304486.
The geograpical coordinate of Adamstown are -25.066667, -130.1002054.
The geograpical coordinate of King Edward Point are -54.283545, -36.4946355.

Will see Errors:

In [13]:
err

   Number          Name
0      66         Sofia
1      75       Yerevan
2      85     Stockholm
3      93       Bishkek
4     103        Tirana
5     112        Asmara
6     123  San Salvador
7     133      San Juan
8     142     Vientiane
9     151      Gaborone
10    160        Manama
11    217      Gustavia
12    226  Longyearbyen
13    239        Brades

If we saw error with name of Capital, we add it in our list "chg" upper. Try again take cooridinates, and if we success delete row from DataFrame err:

In [14]:
for i in err.index:
    geolocator = Nominatim(user_agent="tr_explorer")
    address =err.loc[i,"Name"]
    try:
        location = geolocator.geocode(address,timeout=1)
        latitude = location.latitude
        longitude = location.longitude        
    except:
        print('The geograpical coordinate of {} denied'.format(address))
    else:
        coord.loc[err.loc[i,"Number"],"Latitude"]=latitude
        coord.loc[err.loc[i,"Number"],"Longitude"]=longitude
        err=err.drop(i,axis=0)
        print('The geograpical coordinate of {} are {}, {}.'.format(address,latitude, longitude))

The geograpical coordinate of Sofia are 42.6978634, 23.3221789.
The geograpical coordinate of Yerevan are 40.1776121, 44.5125849.
The geograpical coordinate of Stockholm are 59.3251172, 18.0710935.
The geograpical coordinate of Bishkek are 42.8765615, 74.6070079.
The geograpical coordinate of Tirana are 41.31588575, 19.900912164461147.
The geograpical coordinate of Asmara are 15.3389667, 38.9326763.
The geograpical coordinate of San Salvador are 13.6989939, -89.1914249.
The geograpical coordinate of San Juan are 18.465299, -66.116666.
The geograpical coordinate of Vientiane are 17.9640988, 102.6133707.
The geograpical coordinate of Gaborone are -24.6581357, 25.9088474.
The geograpical coordinate of Manama are 26.2235041, 50.5822436.
The geograpical coordinate of Gustavia are 17.8957043, -62.8508372.
The geograpical coordinate of Longyearbyen are 78.2231558, 15.6463656.
The geograpical coordinate of Brades are 16.7890601, -62.208731.

Look Error again:

In [15]:
err

Empty DataFrame
Columns: [Number, Name]
Index: []

In [13]:
    address ="Vatican City"
    geolocator = Nominatim(user_agent="yudin_vd")
    try:
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
        print('The geograpical coordinate of {} are {}, {}.'.format(address,latitude, longitude))
    except:
        print('The geograpical coordinate of {} denied'.format(address))

The geograpical coordinate of Vatican City are 41.90381485, 12.453152716779822.

It's empty now. If we take error again we try and try to all succesful. Look to first 5 rows in DataFrame coord:

In [16]:
coord.head()

    Capital   Latitude   Longitude
0   Beijing  39.906217  116.391276
1     Tokyo  35.682839  139.759455
2    Moscow  55.479205   37.327330
3  Kinshasa  -4.321706   15.312597
4   Jakarta  -6.175394  106.827183

Add columns Latitude and Longitude in our main DataFrame and see result

In [17]:
df["Latitude"]=coord["Latitude"]
df["Longitude"]=coord["Longitude"]

In [18]:
df.head()

,Rank,Country/Territory,Capital,Population,Year,% ofcountry'spopulation,Latitude,Longitude
0,1,China PR,Beijing,"21,542,000[1]",2010,1.5%,39.906217,116.391276
1,2,Japan,Tokyo,"13,929,286[2]",2017,11.03%,35.682839,139.759455
2,3,Russia,Moscow,"12,506,468[3]",2011,8.52%,55.479205,37.327330
3,4,DR Congo,Kinshasa,"11,855,000[4]",2012,12.9%,-4.321706,15.312597
4,5,Indonesia,Jakarta,"10,075,310[5]",2011,3.76%,-6.175394,106.827183

Check lists for Errors:

In [19]:
for i in coord.index:
    if coord.loc[i,"Capital"]!=df.loc[i,"Capital"]:
        print("Error in {} row".format(i))

Check types in our DataFrame:

In [22]:
df.dtypes

Rank                        object
Country/Territory           object
Capital                     object
Population                  object
Year                        object
% ofcountry'spopulation     object
Latitude                   float64
Longitude                  float64
dtype: object

Correct Population to integer and drop column "Rank"

In [23]:
for i in df.index:
    b=df.loc[i,"Population"].find("[")
    if b!=-1:
        df.loc[i,"Population"]=df.loc[i,"Population"][:b]
    b=df.loc[i,"Population"].find("(")
    if b!=-1:
        df.loc[i,"Population"]=df.loc[i,"Population"][:b-1]
    df.loc[i,"Population"]=df.loc[i,"Population"].replace(",","")

In [24]:
df[["Population"]]=df[["Population"]].astype("int")

In [25]:
df=df.drop("Rank",axis=1)

See result:

In [26]:
df.head()

,Country/Territory,Capital,Population,Year,% ofcountry'spopulation,Latitude,Longitude
0,China PR,Beijing,21542000,2010,1.5%,39.906217,116.391276
1,Japan,Tokyo,13929286,2017,11.03%,35.682839,139.759455
2,Russia,Moscow,12506468,2011,8.52%,55.479205,37.327330
3,DR Congo,Kinshasa,11855000,2012,12.9%,-4.321706,15.312597
4,Indonesia,Jakarta,10075310,2011,3.76%,-6.175394,106.827183

Because every Capital have different size and we have only 99,500 Regular Calls/Day, we take some count of venue for every city based by Population:

In [28]:
df["CountVenue"]=df["Population"]//100000*5

In [29]:
for i in df.index:
    if df.loc[i,"Population"]<2000000:
        df.loc[i,"CountVenue"]=100

In [30]:
df.head(10)

,Country/Territory,Capital,Population,Year,% ofcountry'spopulation,Latitude,Longitude,CountVenue
0,China PR,Beijing,21542000,2010,1.5%,39.906217,116.391276,1075
1,Japan,Tokyo,13929286,2017,11.03%,35.682839,139.759455,695
2,Russia,Moscow,12506468,2011,8.52%,55.479205,37.327330,625
3,DR Congo,Kinshasa,11855000,2012,12.9%,-4.321706,15.312597,590
4,Indonesia,Jakarta,10075310,2011,3.76%,-6.175394,106.827183,500
5,South Korea,Seoul,9838892,2015,19.03%,37.564983,126.939211,490
6,Egypt,Cairo,9500000,2012,9.54%,30.048819,31.243666,475
7,Mexico,Mexico City,8918653,2015,7.05%,19.432630,-99.133178,445
8,Bangladesh,Dhaka,8906039,2011,5.52%,23.759357,90.378814,445
9,United Kingdom England,London,8908081,2015,13.19%,51.507322,-0.127647,445

Checked sum of Count:

In [32]:
df["CountVenue"].sum()

32880

And save our result in local file, becase from Nominatim Usage Policy we must cached Results or we would be blocked:

In [33]:
df.to_excel("capitals_2.xlsx", index=False)