Week 3 Part 1

Load Libraries:

In [1]:
import pandas as pd
import numpy as np

Load Data from excel file, which we created copy data from wiki:

In [2]:
file_in="Toronto.xlsx"

df=pd.read_excel(file_in)

First 5 data rows:

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Start shape:

In [4]:
df.shape

(287, 3)

Delete rows with borough is <b>Not assigned</b>

In [5]:
df.replace("Not assigned",np.nan,inplace=True)
df.dropna(subset=["Borough"],axis=0,inplace=True)

Shape after that

In [6]:
df.shape

(210, 3)

Replace <b>Not assigned</b> in rows with  Neighborhood is <b>Not assigned</b>:

In [7]:
df['Neighbourhood'].replace(np.nan,df['Borough'],inplace=True)

Create <b>DataFrame</b> with not copied <b>Postal Code</b>:

In [8]:
df.sort_values("Postcode",inplace=True)
df.reset_index(drop=True, inplace=True)
df2=pd.DataFrame(columns=["PostalCode","Borough",'Neighbourhood'])

Postcode=""
Nb=""
Br=""
for i in df.index:
    if df.loc[i,"Postcode"]==Postcode:
        Nb=Nb+", "+str(df.loc[i,"Neighbourhood"])
    else:
        if Nb!="":
            df2=df2.append({"PostalCode":Postcode,"Borough":Br,'Neighbourhood':Nb}, ignore_index=True)
        Nb=str(df.loc[i,"Neighbourhood"])
        Br=str(df.loc[i,"Borough"])
        Postcode=str(df.loc[i,"Postcode"])

See first 12 rows:

In [9]:
df2.head(12)

   PostalCode      Borough                                      Neighbourhood
0         M1B  Scarborough                                     Rouge, Malvern
1         M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                    Golden Mile, Oakridge, Clairlea
8         M1M  Scarborough    Cliffcrest, Scarborough Village West, Cliffside
9         M1N  Scarborough                        Cliffside West, Birch Cliff
10        M1P  Scarborough  Wexford Heights, Dorset Park, Scarborough Town...
11        M1R  Scarborough                                  Maryvale, Wexford

See new <b>.shape</b>:

In [10]:
df2.shape

(102, 3)

Write Data for next labs:

In [12]:
df2.to_csv("Toronto_PostalCode.csv", index=False)