Week 3 Part 2

Load Libraries:

In [1]:
import pandas as pd
import numpy as np

Read Data from file, which we saved in previously part:

In [2]:
df=pd.read_csv("Toronto_PostalCode.csv")

First 5 rows:

In [3]:
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Port Union, Rouge Hill, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Read geographical coordinates of each postal code from file:

In [4]:
geo_df=pd.read_csv("Geospatial_Coordinates.csv")

First 5 rows:

In [5]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Set index as Postal code and show that:

In [6]:
geo_df.set_index("Postal Code",inplace=True)
geo_df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

Create array for Latitude and Longitude, and find with our Toronto_PostalCode dataframe:

In [7]:
La = np.array([])
Lo = np.array([])
for i in df.index:    
    La=np.append(La,[geo_df.loc[df.loc[i,"PostalCode"],"Latitude"]])
    Lo=np.append(Lo,[geo_df.loc[df.loc[i,"PostalCode"],"Longitude"]])

Add two columns with coordinates and show that:

In [8]:
df["Latitude"]=La
df["Longitude"]=Lo

df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Save data for next labs:

In [9]:
df.to_csv("Toronto_GeoPostal.csv", index=False)